torch==2.1.2
transformers==4.36.2
accelerate==0.26.1
bitsandbytes==0.42.0
ipykernel
jupyter
idna>=3.15 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=3.2.1 # not directly required, pinned by Snyk to avoid a vulnerability