@font-face{font-family:remixicon;src:url('/approved-home/remixicon.woff2') format('woff2');font-display:swap}
.approved-home [class*=" ri-"],.approved-home [class^=ri-]{font-family:remixicon!important;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.approved-home .ri-arrow-right-line:before{content:"\ea6c"}
.approved-home .ri-arrow-up-line:before{content:"\ea76"}
.approved-home .ri-book-open-line:before{content:"\eadb"}
.approved-home .ri-check-line:before{content:"\eb7b"}
.approved-home .ri-close-line:before{content:"\eb99"}
.approved-home .ri-cloud-line:before{content:"\eb9d"}
.approved-home .ri-computer-line:before{content:"\ebca"}
.approved-home .ri-cpu-line:before{content:"\ebf0"}
.approved-home .ri-database-2-line:before{content:"\ec16"}
.approved-home .ri-double-quotes-l:before{content:"\ec51"}
.approved-home .ri-film-line:before{content:"\ed21"}
.approved-home .ri-flow-chart:before{content:"\ed46"}
.approved-home .ri-keyboard-line:before{content:"\ee75"}
.approved-home .ri-landscape-line:before{content:"\ee7d"}
.approved-home .ri-loader-4-line:before{content:"\eec6"}
.approved-home .ri-lock-line:before{content:"\eece"}
.approved-home .ri-macbook-line:before{content:"\eee8"}
.approved-home .ri-menu-2-line:before{content:"\ef32"}
.approved-home .ri-mic-fill:before{content:"\ef4f"}
.approved-home .ri-mic-line:before{content:"\ef50"}
.approved-home .ri-open-source-line:before{content:"\efb3"}
.approved-home .ri-palette-line:before{content:"\efc5"}
.approved-home .ri-play-line:before{content:"\f00b"}
.approved-home .ri-quill-pen-line:before{content:"\f04a"}
.approved-home .ri-radar-line:before{content:"\f04c"}
.approved-home .ri-send-plane-line:before{content:"\f0da"}
.approved-home .ri-shield-check-line:before{content:"\f100"}
.approved-home .ri-shuffle-line:before{content:"\f124"}
.approved-home .ri-sound-module-line:before{content:"\f162"}
.approved-home .ri-speaker-line:before{content:"\f173"}
.approved-home .ri-stack-line:before{content:"\f181"}
.approved-home .ri-time-line:before{content:"\f20f"}
.approved-home .ri-user-shared-line:before{content:"\f272"}
.approved-home .ri-user-star-line:before{content:"\f276"}
.approved-home .ri-voiceprint-line:before{content:"\f29a"}
.approved-home .ri-robot-2-line:before{content:"\f3d9"}
