openapi: "3.1.0"
info:
  title: D3VONN.IO Runtime Execution API
  version: "1.0.0"
  description: |
    API surface for the Autonomous Runtime Execution Layer.
    Provides endpoints for executing agents, managing runs, and inspecting governance decisions.
  contact:
    name: D3VONN.IO Platform Team
    url: https://github.com/wesship/supreme-ai-deployment-hub
servers:
  - url: https://api.d3vonn.io/v1/runtime
    description: Production Runtime Gateway
  - url: https://staging-api.d3vonn.io/v1/runtime
    description: Staging Runtime Gateway
paths:
  /runs:
    post:
      summary: Start a new autonomous agent execution run
      operationId: startRun
      tags: [Execution]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartRunRequest"
      responses:
        "202":
          description: Run accepted and queued for execution
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          description: Rate limit or concurrency ceiling exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      summary: List active and historical runs
      operationId: listRuns
      tags: [Execution]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [queued, running, completed, failed, blocked]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        "200":
          description: List of runs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunListResponse"

  /runs/{runId}:
    get:
      summary: Get the status and execution trace of a specific run
      operationId: getRun
      tags: [Execution]
      security:
        - bearerAuth: []
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Run details and trace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunDetailsResponse"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Cancel an active run
      operationId: cancelRun
      tags: [Execution]
      security:
        - bearerAuth: []
      parameters:
        - name: runId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Run cancellation requested

  /governance/decisions/{conflictId}:
    get:
      summary: Inspect a governance arbitration decision
      operationId: getDecision
      tags: [Governance]
      security:
        - bearerAuth: []
      parameters:
        - name: conflictId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Governance decision trace and causal graph
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecisionTraceResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    StartRunRequest:
      type: object
      required: [agentId, goal]
      properties:
        agentId:
          type: string
          format: uuid
          description: ID of the agent template to execute
        goal:
          type: string
          description: Natural language goal for the agent
        context:
          type: object
          description: Initial context or payload data
        mcpTools:
          type: array
          items:
            type: string
          description: Specific MCP tools to enable for this run
        idempotencyKey:
          type: string
          description: Client-provided key for safe retries

    RunResponse:
      type: object
      required: [id, status, createdAt]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running, completed, failed, blocked]
        createdAt:
          type: string
          format: date-time

    RunListResponse:
      type: object
      required: [items, total]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/RunResponse"
        total:
          type: integer

    RunDetailsResponse:
      allOf:
        - $ref: "#/components/schemas/RunResponse"
        - type: object
          properties:
            completedAt:
              type: string
              format: date-time
            result:
              type: object
              description: Final output payload if completed
            error:
              type: object
              description: Error details if failed
            trace:
              type: array
              items:
                type: object
                properties:
                  stepId:
                    type: string
                  action:
                    type: string
                  timestamp:
                    type: string
                    format: date-time

    DecisionTraceResponse:
      type: object
      required: [conflictId, resolution, policyGraph]
      properties:
        conflictId:
          type: string
        resolution:
          type: string
          enum: [allow, deny, escalate, mitigate]
        policyGraph:
          type: object
          description: Causal graph of policies evaluated during arbitration
        latencyMs:
          type: number

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: Invalid request payload
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
